<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="shortcut icon" href="<%= url_for(theme.favicon) %>" type="image/x-icon" />
    <title>
        <% if (page.title) { %>
            <%= page.title %> |
        <% } %> 
        <%= config.title %>
    </title>
    <%- css('css/style') %>
    <%- css('fontawesome/css/fontawesome.min') %>
    <%- css('fontawesome/css/brands.min') %>
    <%- css('fontawesome/css/solid.min') %>
    <%- partial('partial/scripts/analytics.ejs') %>
</head>
