<!DOCTYPE html>
<html>
<%- partial('partial/head') %>
<body>
    <div class="body-container">
        <div class="header-wrapper"><%- partial('partial/header') %></div>
        <div class="main-wrapper"><%- body %></div>
        <div class="footer-wrapper"><%- partial('partial/footer') %></div>
    </div>
</body>
<!--动态线条背景-->
<% if (theme.canvas_nest.enable){ %>
    <script type="text/javascript" color="<%=theme.canvas_nest.color %>" opacity="<%=theme.canvas_nest.opacity %>" 
        zIndex="<%=theme.canvas_nest.zIndex %>" count="<%=theme.canvas_nest.count %>" 
        src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js">
    </script>
<% } %>
</html>
